* {
    margin: 0;
}
body   {
    background-color: rgb(255, 255, 255);
    color: rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

         /* HEADER */
header {
    background-color: gray;
    margin-bottom: 100px;
    max-width: 100%;

}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    object-fit:cover;
    
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-grow: inherit;
    padding: 2px;
    margin: 2px;
}

li {
    margin: 20px;
    border: solid 1px black;
    padding: 10px;
}


.menu {
    display: flex;
    flex-direction: row;
}
            /* CONTENT */


#presentation {
    display: flex;
    align-items: center; /* Centrer les items verticalement */
    justify-content: space-between; /* Répartir l'espace horizontalement */
    overflow: hidden; /* Assurez-vous que rien ne déborde du conteneur */
}

.photos-items {
    flex: 1; /* Prendre l'espace disponible */
    display: flex; /* Permet d'utiliser flexbox pour centrer l'image */
    justify-content: center; /* Centrer horizontalement l'image dans le conteneur .photo-content */
    align-items: center; /* Centrer verticalement */
}


.items {
    background: gray;
    
    width: 100%;

    
    margin-bottom: 100px;

    min-height: 100vh; /* Hauteur complète de l'écran */
    display: flex;
    flex-direction: column; /* Les éléments enfants s'empilent verticalement */
    justify-content: center; /* Centrer le contenu verticalement */
    align-items: center; /* Centrer le contenu horizontalement */
    text-align: center;

   
}

.photos-items img {
    max-width: 100%; /* Faire en sorte que l'image ne dépasse jamais la largeur de son conteneur */
    height: auto; /* Garder le ratio d'aspect original de l'image */
    display: block; /* Éliminer l'espace blanc sous l'image */
}

.item-text {
    flex: 1; /* Prendre l'espace disponible */
    padding-right: 20px; /* Ajouter un peu d'espace entre le texte et l'image */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.icones-contact {
    width: 40px;
    height: 40px;
}


       /* TELECHARGEMENT */

       .telechargement {
        width: 150px;
        height: 60px;
        border: 3px solid #315cfd;
        border-radius: 45px;
        transition: all 0.3s;
        cursor: pointer;
        background: white;
        font-size: 1.2em;
        font-weight: 550;
        font-family: 'Montserrat', sans-serif;
      }
      
      .telechargement:hover {
        background: #315cfd;
        color: white;
        font-size: 1.5em;
      }


            /* LOGO ANIMÉ   */

.logo {
    font-size: 4em; /* Ajustez la taille selon vos besoins */
    text-align: center;
    width: 100%;
    position: fixed; /* Pour le centrer sur l'écran */
    top: 50%; /* Alignement vertical */
    left: 50%; /* Alignement horizontal */
    transform: translate(-50%, -50%); /* Centrer précisément le logo */
    z-index: 1000; /* S'assurer que le logo est au-dessus des autres éléments */
    animation: fadeIn 0.1s ease-in-out forwards;
}

.blurred {
    filter: blur(5px);
}


footer {
    position: static;
    height: 100px;

}




            /* RESPONSIVE MOBILE */

            @media (max-width: 768px) {
                .navbar {
                    flex-direction: column;
                    padding: 10px;
                }
            
                .menu ul {
                    flex-direction: column;
                    width: 100%;
                }
            
                .menu li {
                    text-align: center;
                    padding: 10px 0;
                }
            
                .menu a {
                    width: 100%;
                    display: block; /* rend les liens plus faciles à cliquer */
                }
            
                /* Si vous utilisez un menu hamburger pour mobile, ajoutez ici les styles appropriés */
            }